In [ ]:
# Irrelevantntntntntn
# bla bæla

In [1]:
import pandas as pd

In [4]:
a = pd.read_csv('arb_bra_disco_erfaring_civil.txt', sep='\t', encoding='latin1')
a.head()

,arb_reg,udd_niv,udd_retning,IDA_branche,IDA_grp,erfaring,N_personer
0,Hovedstaden og Sjælland,Civilingeniør,Byggeri og anlæg,Rådgivning,Byggeri og anlæg,10+ år,3077
1,Hovedstaden og Sjælland,Civilingeniør,Byggeri og anlæg,"IT, information og kommunikation",IT - udvikling,10+ år,1272
2,Hovedstaden og Sjælland,Civilingeniør,Byggeri og anlæg,Rådgivning,Byggeri og anlæg,5-10 år,896
3,Hovedstaden og Sjælland,Civilingeniør,Byggeri og anlæg,"IT, information og kommunikation",IT - Projektstyring og forretning,10+ år,845
4,Hovedstaden og Sjælland,Civilingeniør,Byggeri og anlæg,Rådgivning,Byggeri og anlæg,2-5 år,733

In [5]:
b = pd.read_csv('arb_bra_disco_erfaring_ikkecivil.txt', sep='\t', encoding='latin1')
b.head()

,arb_reg,udd_niv,udd_retning,IDA_branche,IDA_grp,erfaring,N_personer
0,Hovedstaden og Sjælland,Cand.scient.,"Fysik, Nanoteknologi, Geografik, Geologi, Mate...",Akademisk undervisning og forksning,Undervisning,10+ år,2373
1,Hovedstaden og Sjælland,Cand.scient.,"Bioloigi, Bioteknologi, Sundhed, Lægevidenskab",Akademisk undervisning og forksning,Undervisning,10+ år,1760
2,Hovedstaden og Sjælland,"Ph.d, Dr.","Fysik, Nanoteknologi, Geografik, Geologi, Mate...",Akademisk undervisning og forksning,Undervisning og forskning på universitet,10+ år,1513
3,Hovedstaden og Sjælland,Teknikumingeniør,"Elektronik, Stærk- og Svagstrøm",Rådgivning,Byggeri og anlæg,10+ år,1344
4,Hovedstaden og Sjælland,"Ph.d, Dr.","Maskin, Mekanik, Inudstriproduktion, Robot, Sk...",Akademisk undervisning og forksning,Undervisning og forskning på universitet,10+ år,1263

In [16]:
c = pd.concat([a, b], ignore_index=True).sort_values('N_personer', ascending=False)

In [19]:
c.to_excel('tilAH.xlsx', index=False)